@model UserSignInViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">

        <form method="post">
            <label>Adını</label>
            <input type="text" class="form-control" asp-for="Username" />
     <br />
            <label>Şifre</label>
            <input type="text" class="form-control" asp-for="Passoword" />
            <br />

            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <br />
            <button class="btn btn-primary">Giriş Yap</button>
        </form>
    </div>


</body>
</html>
