
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateCategory</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <label>Kategori Adını Giriniz</label>
            <input  type="text" class="form-control" name="CategoryName"/>
            <br />
            <button class="btn btn-outline-success">Kategoriyi Ekle</button>
        </form>
    </div>

</body>
</html>
