<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('https://img.freepik.com/free-photo/aerial-view-man-typing-retro-typewriter_53876-95243.jpg?w=1380&t=st=1712140864~exp=1712141464~hmac=ea8cc8d309908643926ea3a0c02fdffe6df9c21cc402a419ff6cc76456b28075');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">Keyifli Okumalar Dileriz</h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 me-3 d-inline-block"><img src="https://cdn.pixabay.com/photo/2021/12/12/09/41/woman-6864640_1280.jpg" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">BloBlogy</span>
                        <span>&nbsp;-&nbsp; Nisan 10 , 2024</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                    