@model Article

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('https://img.freepik.com/free-photo/aerial-view-man-typing-retro-typewriter_53876-95243.jpg?w=1380&t=st=1712140864~exp=1712141464~hmac=ea8cc8d309908643926ea3a0c02fdffe6df9c21cc402a419ff6cc76456b28075');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-6">
                <div class="post-entry text-center">
                    <h1 class="mb-4">@Model.Title</h1>
                    <div class="post-meta align-items-center text-center">
                        <span>Blog Tarihi &nbsp;-&nbsp;@Model.CreatedDate.ToShortDateString()</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                    