@model List<Social>
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget">
                    <h3 class="mb-4">Hakkımızda</h3>
                    <p>Bu blog sayfasını, insanların blog okurluğunu arttırmak, blogları daha eğlenceli hale getirmek ve insanların dikkatini çekmek için kurdum. Umarım blog yazılarımızı ve uygulamamızı beğenirsiniz. İyi okumalar.</p>
                </div> <!-- /.widget -->
            
                <div class="widget">
                    <h3>Sosyal Medya</h3>
                    <ul class="list-unstyled social">
                        @foreach(var item in Model)
                        {
                            <li><a href="@item.Url"><span class="text-lg fab  @item.Icon"></span></a></li>
                        }
                       
                  
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
      
            @await Component.InvokeAsync("_FooterRecentEntryComponentPartial")
             <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
           

                <p>
                    </script>Tüm Hakları Saklıdır.&copy;@DateTime.Now.Year </a>  Template Sahibi <a href="https://themewagon.com">ThemeWagon</a> <!-- License information: https://untree.co/license/ -->
                </p>
            </div>
        </div>
    </div> <!-- /.container -->
</footer>


<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>